.header {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: solid;
}

.options, .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.slide-container {
    display: flex;
    gap: 8px;
}

.options {
    height: 500px;
    margin-right: 100px;
}

button {
    display: block;
    background-color: white;
    font-size: 20px;
    width: 150px;
    border: medium solid;
    border-color: black;
    border-radius: 8px;
    padding: 12px;
}

#color-picker {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#rainbow-button.clicked {
    background-color: white;
    border: medium solid transparent;
    background-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 4;
    border-radius: 8px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dimension {
    margin: 0;
}

.cell {
    background-color: white;
    user-select: none; 
}

.clicked, #clear-button:active {
    background-color: black;
    color: white;
}