.grid {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    border: solid;
}

button {
    display: block;
}

.cell {
    background-color: white;
    user-select: none; 
}

.content {
    display: flex;
}

.clicked {
    color: red;
}